{{ define "title" }}Jobs{{ end }}

{{ define "content" }}

<p>This page lists all jobs:</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Status</th>
        <th>Upload ID</th>
        <th>Log</th>
    </tr>

    {{ range $.Data.Jobs }}
    <tr>
        <td><a href="/jobs/{{ .ID}}">{{ .ID }}</a></td>
        <td>{{ .Type }}</td>
        <td class="{{ .Status | jobStatusTableClass }}">{{ .Status }}</td>
        <td><a href="/uploads/{{ .UploadID }}">{{ .UploadID }}</a></td>
        <td>
            <a href="/api/jobs/{{ .ID }}/log.txt">log (txt)</a>
        </td>
    </tr>
    {{ end }}

</table>

{{ end }}
