{{ define "title" }}PGP Keys{{ end }}

{{ define "content" }}

<div class="row">
    <div class="col">
        <h2>PGP Keys</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Fingerprint</th>
                <th>Remove</th>
            </tr>

            {{ range .Data.PGPKeys }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Fingerprint }}</td>
                <td class="text-center">
                    <form action="/profile/remove-pgp-key" method="post">
                        <input type="hidden" name="keyid" value="{{ .ID }}">
                        <input type="submit" value="x" class="btn btn-outline-danger font-weight-bold">
                    </form>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Add a PGP key</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            To associate a PGP key to your account, you must submit an armored
            copy your public key along with a signed proof. The signed proof
            contains your user ID, which can befound on the
            <a href="/profile">profile</a> page.
        </p>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="form-group">
            <label><strong>Public key (armored):</strong></label>
            <pre><code>$ gpg --armor --export-options export-minimal --export &lt;fingerprint&gt;</code></pre>
            <textarea name="key" form="form-add-pgp-key" class="form-control" placeholder="public key"></textarea>
        </div>

        <div class="form-group">
            <label><strong>Signed proof:</strong></label>
            <pre><code>$ echo "{{ $.Data.ExpectedPGPKeyProofText }}" | gpg --clearsign --sign-with=&lt;fingerprint&gt;</code></pre>
            <textarea name="proof" form="form-add-pgp-key" class="form-control" placeholder="signed proof"></textarea>
        </div>

        <form action="/profile/add-pgp-key" id="form-add-pgp-key" method="post">
            <input type="submit" value="Add PGP key" class="btn btn-primary">
        </form>
    </div>
</div>

{{ end }}
