{{ define "title" }}Uploads{{ end }}

{{ define "content" }}

<p>This page lists all uploads:</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Uploader ID</th>
        <th>Source Package</th>
        <th>Version</th>
        <th>Maintainer</th>
        <th>ChangedBy</th>
        <th>Debian Source Control (.dsc)</th>
    </tr>

    {{ range $.Data.Uploads }}
    <tr>
        <td><a href="/uploads/{{ .ID }}">{{ .ID }}</a></td>
        <td>{{ .UserID }}</td>
        <td>{{ .Source }}</td>
        <td>{{ .Version }}</td>
        <td>{{ .Maintainer }}</td>
        <td>{{ .ChangedBy }}</td>
        <td>
            <a href="/api/uploads/{{ .ID }}/source.dsc">dsc</a>
        </td>
    </tr>
    {{ end }}

</table>

{{ end }}
